Mechanism/Library/Bee/backend2.traceevents
Mechanism/Library/Bee/fullprofile.json
Mechanism/Library/Bee/tundra.digestcache
Mechanism/Library/Bee/tundra.log.json
Mechanism/Library/SceneVisibilityState.asset
Mechanism/Library/Search/transactions.db
Mechanism/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Mechanism/Temp/FSTimeGet-c8da032d595e9764c85d18de99967550
Mechanism/Temp/UnityLockfile
Mechanism/Temp/workerlic
